*{
    margin: 0px;
    padding: 0px;
}
#head{
    display: flex;
    justify-content: center;
    height: 7vmin; 
    width: 100%;
    border: 1px solid black;
    background-color: #34344A;
    color: #fff;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #34344A;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 5rem;
}
#user-score, #comp-score{
    font-size: 5rem;
}
.msg-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    display: inline-block;
    background-color: #34344A;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}